
header {
    display: flex;
    position: sticky;
    top: 0;
    height: 72px;
    width: 100%;
    background-color: var(--main-brown-color);
    z-index: 999;

    .container {
        display: flex;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;
        }

 ul {
    display: flex;
    list-style: none;
    align-items: center;
    cursor: pointer;

    li {
    color: #FFFFFF;
    list-style-type: none;
    font-size: 14px;
    margin: 25px;
    font-weight: 400;

     } 
  }
}
}

