.hero {
    height: 639px;
    width: 100%;

   

.img {
    background-image: url(city.jpg);
    background-size: 100% 933px;
    height: 639px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: initial; 
    background-position: 0px -200px;
    z-index: 1;
}

.img::before {
    content: ""; 
    position: absolute;
    width: 100%;
    height: 639px;
    background-color: #1C1C1C;
    opacity: 0.63;
    z-index: 2;

}
.container {
    display: flex;
    justify-content: space-between;
    

    .Explained{
        z-index: 3;
        color: #FFFFFF;
        align-self: center;

        .logo {
            margin: 65px 0 22px 0; 
            width: 247px;
            height: 108px;
         img {
           width:100%;
           height:100%;
         }
        }
        
      h1 {
      font-size: 36px;
      margin: 20px 0 20px 0 
      }
      
      h2 {
      font-size: 16px;
      opacity: 0.8;
      margin: 24px 0 40px 0 ;
}
   .download {
    display: flex;
    width: 135px;
    height: 42px;
    border: 2px solid #FFFFFF;
    margin: 20px 0 ;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    
    a {
        font-size: 14px;
        align-self: center;
        // margin-left: 22px;
        text-decoration: none;
        color: #F5F5F5;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }
}
    .download:hover{
        background-color: #F5F5F5;
        a {
            color: black;
        
    }
   
}
}   
    
.signup {
    width: 360px;
    height: 425px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 76px;
    z-index: 3;

.trial {
    width: 360px;
    height: 57px;
    text-align: center;
    background-color: #F5F5F5;
    border-radius: 10px 10px 0 0;
    
    h3 {
       padding-top: 17px;
    
    span {
       color: var(--main-orange-color);
    }
}
}
.get {
    width: 360px;
    height: 57px;
    text-align: center;
    background-color: #41D395;
    border-radius: 0 0 10px 10px ;
    margin-top: 22px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    

    h3{
        padding-top: 15px;
        span {
            color: #FFFFFF;
        }
    }
    }

    .get:hover {
        background-color: #38AD7A;

    }
}
}
}
